body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img { 
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym { 
	border: 0;
}


#track {
	position: fixed;
	width: 329px;
	height: 6px;
	left: 50%;
	top: 50%;
	margin-left: -164px;
	margin-top: -1px;
	background: no-repeat url(img/main.png) 0 0;
    padding-top:20px;
    padding-bottom:20px;
}

#pointer {
	position: absolute;
	left: 0;
	top: 1px;
	width: 40px;
	height: 37px;
	background: repeat-x url(img/main.png) 0 -122px;
	cursor: default;
}
